<!DOCTYPE HTML>
<html layout:decorator="layout">
    <head>
        <title>Listing Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">


                <h2 align="center" style="position: relative;top:50px;" th:text="${name}">My Todo</h2><br><br><br>
                <h4>Tasks to be performed</h4><br>
                <p style="position: absolute;top:235px;left: 875px; font-size: 22px">SELECT BY CATEGORY</p>
                 <form action="/todos/filter" method="get">      
                     <select name="selectedStatus" onchange="this.form.submit()" style="position: absolute;top:240px;left: 1100px;" id="category" required>
                         <option value="" th:selected="${(selectedStatus eq '')}">Select Category</option>
                         
                         <option value="INITIATED" th:selected="${(selectedStatus eq 'INITIATED')}">INITIATED</option>
                        <option value="ESTIMATING" th:selected="${(selectedStatus eq 'ESTIMATING')}">ESTIMATING</option>
                         <option value="IMPLEMENT" th:selected="${(selectedStatus eq 'IMPLEMENT')}">IMPLEMENT</option>
                         <option value="REVIEW" th:selected="${(selectedStatus eq 'REVIEW')}">REVIEW</option>
                         <option value="RELEASE" th:selected="${(selectedStatus eq 'RELEASE')}">RELEASE</option>
                </select></form>
                
                 <p><a class="btn btn-primary" href="/todos/create" role="button">New todo</a></p>
                 
                 
                <div class="list-group">
                    <div th:each="todo : ${todos}"  class="list-group-item list-group-item-action" th:if="${(selectedStatus == '') || (selectedStatus != '' && selectedStatus == todo.category.name())}">
                       
                    <div class="d-flex w-100 justify-content-between align-items-center">
                            <h5 class th:text="${todo.name}" th:style="${todo.getCompleted() ?  'text-decoration: line-through' : 'text-decoration:none'}">Bad machine</h5>
                            
                            <p style="position: absolute;left: 550px;font-size: 15px;width: 150px;height: 50px;"><a class="btn btn-primary" style="text-decoration: none;color: white" th:href="@{/todos/{id}/check(id=${todo.id})}">Marked as done</a></p>
                            <p style="position: absolute;left: 730px;font-size: 15px;width: 150px;height: 50px;"><a class="btn btn-primary" style="text-decoration: none;color: white;" th:href="@{/todos/{id}/uncheck(id=${todo.id})}">Undo</a></p>
                            
                            
                            <span style="position: absolute;top: 54px" class="badge" th:classappend="${'badge-' + (todo.category.name() == 'INITIATED' ? 'primary' : (todo.category.name() == 'IMPLEMENT' ? 'secondary' : (todo.category.name() == 'REVIEW' ? 'info' : (todo.category.name() == 'ESTIMATING' ? 'dark' :  'success' )))) }" th:text="${todo.category }">INITIATED</span>
                            <p><a class="btn btn-primary" th:href="@{/todos/{id}(id=${todo.id})}">Edit</a></p>
                    </div>             
                                                
                    </div>
                </div>
                 



            </div>
        </div>
    </body>
</html>

